/* 
layout 1 : > 924px;
layout 2 : <= 924px
layout 3 : <= 576px
*/
/* background: radial-gradient(circle at top right, rgba(6,186,99,1) 0%, rgba(12,32,39,1) 29%, rgba(12,32,39,1) 97%); */

:root {
    --Main-Primary: #0c2027;
    --Highlight-Primary: #06ba63;
    --Secondary: #7e8693;
    --White: #ffffff;
    --Primary-2: #f06523;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.top-container {
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

section,
footer {
    padding: 5rem 10rem;
    width: 100%;
}

.flex-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
}

h2 {
    font-size: 6rem;
    font-weight: 500;
}

h3 {
    font-size: 5rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
}

.text-inter-sm {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.text-inter-lg {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

.text-sm {
    font-size: 1.6rem;
    font-weight: 200;
}

.text-lg {
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.primary-button {
    width: 18rem;
    padding: 1.4rem 1.8rem;
    border-radius: 0.6rem;
    border: none;
    background: var(--Highlight-Primary);
    color: var(--White);
    cursor: pointer;
}

/*decoration styles*/
.decoration {
    position: absolute;
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    background-color: rgba(184, 235, 54, 0.098);
    /* box-shadow: 10px 13px 126px 65px rgba(45,55,53,0.8); */
    box-shadow: 10px 10px 89px 100px rgba(184, 235, 54, 0.1);
    z-index: 90;
}

section {
    position: relative;
}

.section-2 .decoration {
    position: absolute;
    right: 5rem;
    top: 10rem;
}

.testimonials-section .decoration {
    top: -10rem;
    right: 15rem;
}

@media only screen and (max-width : 1080px) {

    section,
    footer {
        padding: 5rem;
    }

    .decoration {
        height: 30rem;
        width: 30rem;
    }
}

@media only screen and (max-width : 924px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 4rem;
    }

    .text-inter-sm {
        font-weight: 300;
    }

    .text-inter-lg {
        font-weight: 200;
    }

    .text-sm {
        font-size: 1.5rem;
        font-weight: normal;
    }

    .flex-section {
        align-items: flex-start;
    }

    .decoration {
        height: 20rem;
        width: 20rem;
    }
}

@media only screen and (max-width : 576px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    .text-inter-sm {
        font-weight: 300;
    }

    .text-inter-lg {
        font-weight: 200;
    }

    .text-lg {
        font-weight: 300;
    }

    section,
    footer {
        padding: 4rem 2rem;
    }

    .decoration {
        height: 15rem;
        width: 15rem;
    }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
    background-color: var(--Main-Primary);
    width: 100%;
    max-height: 10rem;
    display: flex;
    padding: 2.4rem 16.7rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 10px 0px rgba(12, 32, 39, 0.5);
}

.nav-logo img {
    min-width: 10rem;
    min-height: 4.5rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.2rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.nav-link {
    color: var(--White);
}

.nav-link:hover {
    color: var(--Primary-2);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--White);
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~landing-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.landing-section {
    min-height: calc(100vh - 10rem);
    position: relative;
    background-color: var(--Main-Primary);
}

.landing-section .we-are-hiring{
    color: var(--White);
    width: 20rem;
    padding : 1.4rem 2rem;
    border: 2px solid var(--White);
    border-radius: 3rem 3rem 3rem 0;
    text-align: center;
    position: relative;
    margin-left: auto;
    top : 5rem;
}

.landing-section h3 {
    width: 80%;
    color: var(--White);
    margin: auto;
    position: relative;
    top: 5rem;
    text-align: center;
    word-spacing: 1rem;
}

.landing-section h3 span:first-child{
    color: var(--Highlight-Primary);
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: .6rem;
}

.landing-section p {
    width: 90%;
    color: var(--White);
    position: relative;
    margin: 4rem auto;
    top : 5rem;
    text-align: center;
}

.landing-section .lower-link{
    color: var(--White);
    text-align: center;
    width: fit-content;
    border-bottom: 2px solid var(--White);
    margin: auto;
    top:5rem;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~wellness-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.wellness-section{
    background-color: #DFE0E4;
    min-height: 100vh;   
}

.wellness-section .img-panel{
    flex-basis: 50%;
    padding : 0rem 2rem;
    text-align: left;
    max-height: 100%;
}

.wellness-section h3{
    color: #000;
    margin-bottom: 1.5rem;
}
.wellness-section p{
    color: var(--Secondary);
    width: 60%;
    margin-bottom: 2rem;
}
.wellness-section img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

/*accordion styles*/
.accordion-sm {
    flex-basis: 50%;
    width: 50%;
    margin: auto;
    padding-left: 10rem;
}

.accordion-sm .container {
    padding: 2rem 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    margin: auto auto 1rem auto;
}

.accordion-sm .label {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: left;
    padding-right: 2rem;
    cursor: pointer;
    color: #000;
}

.accordion-sm .container:not(.active) .label i:nth-child(2){
    position: absolute;
    top : 50%;
    right : 0;
    transform: translateY(-50%);
}

.accordion-sm .container:not(.active) .label i:nth-child(1){
    display: none;
}

.accordion-sm .content {
    padding: 0.5rem 0 0 0;
    position: relative;
    width: 100%;
    max-height: 0;
    text-align: left;
    color: var(--Secondary);
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion-sm .content p{
    width : 90%;
}

.accordion-sm ul {
    padding-left: 2rem;
}

.accordion-sm li {
    list-style-type: disc;
}

.accordion-sm .container.active .content {
    max-height: 15rem;
}

.accordion-sm .container.active .label i:nth-child(1){
    display: inline;
    position: absolute;
    top : 50%;
    right : 0;
    transform: translateY(-50%);
} 
.accordion-sm .container.active .label i:nth-child(2){
    display: none;
} 

/*end of accordion styles*/
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~common styles (about, dual-phones,flexible,trade,content-v1)~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.accordion-section,
.testimonials-section ,
.form-section{
    min-height: 100vh;
    width: 100%;
    background: var(--Main-Primary);
}

.accordion-section h3,
.testimonials-section h3{
    color: var(--White);
    width: 50%;
    margin: auto auto 1.5rem auto;
    text-align: center;
}

.sub-heading {
    color: var(--Secondary);
    width: 70%;
    margin: auto auto 1.5rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.points-container {
    width: 100%;
}

.points-container .point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.points-container .point p {
    margin: auto 0;
}

.points-container .img-container {
    min-height: 6rem;
    min-width: 6rem;
    background-color: var(--Highlight-Primary);
    border: none;
    border-radius: 10px;
    position: relative;
}

.points-container .img-container img {
    height: 3rem;
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~form-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.form-panel {
    padding: 2rem;
    max-height: 100%;
    flex-basis: 60%;
    width: 60%;
    color: var(--White);
}

.info-panel {
    max-height: 100%;
    flex-basis: 40%;
    width: 40%;
    color: var(--White);
    text-align: left;
    margin: auto;
}

.form-panel h2,
.info-panel h3,
.info-panel p {
    width: 100%;
    margin-bottom: 2rem;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

form .input-grp {
    flex-basis: calc((100% - 2rem)/2);
    width: 50%;
}

form .textarea-grp ,
form .dropdown-grp{
    flex-basis: 100%;
    width: 100%;
}

form button {
    width: 18rem;
    padding: 2rem 1.8rem;
    border-radius: 5rem;
    border: none;
    background: var(--Highlight-Primary);
    color: var(--White);
    cursor: pointer;
}

form label {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

form input ,
form select{
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    border: none;
    padding-left: 2rem;
    font-size: 1.8rem;
    background-color: #7E869333;
    color: var(--White);
}

.form-panel .dropdown-grp select option {
    background-color:#7e8693;
    color: #000;
    width : 100%;
}

.form-panel .dropdown-grp select option:hover {
    background-color: var(--Main-Primary);
    color: var(--White);
}

form input::placeholder,
form textarea::placeholder {
    color: var(--White);
}

form textarea {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    border: none;
    padding: 2rem;
    font-size: 1.8rem;
    background-color: #7E869333;
    color: var(--White);
    resize: none;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~testimonials section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.testimonials-section {
    min-height: 80vh;
}

.testimonials {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
    margin: auto;
    padding-top: 4rem;
}

.testimonials .card {
    max-height: 45rem;
    flex-basis: 45%;
    width: 45%;
    border-radius: 4rem;
    background: rgba(126, 134, 147, 0.1);
    padding: 5rem;
}

.testimonials .card p {
    width: 100%;
    color: var(--White);
}

.testimonials .user-wrapper {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.testimonials-section .img-wrapper {
    height: 5.8rem;
    width: 5.8rem;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.testimonials-section img {
    height: 100%;
    width: 100%;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~accodrian-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.accordion-section {
    min-height: 100vh;
    width: 100%;
    background: var(--Main-Primary);
}

/*accordion styles*/
.accordion {
    width: 90%;
    margin: auto;
}

.accordion .container {
    padding: 2rem;
    width: 95%;
    border: 2px solid var(--White);
    border-radius: 1rem;
    margin: auto auto 1.5rem auto;
}

.accordion .label {
    position: relative;
    width: 90%;
    margin: auto;
    text-align: left;
    cursor: pointer;
    color: var(--White);
}

.accordion .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}

/*hidden initialy with height = 0*/
.accordion .content {
    padding: 0.5rem 0 0 2rem;
    margin: auto;
    position: relative;
    width: 90%;
    max-height: 0;
    text-align: left;
    color: var(--White);
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion ul {
    padding-left: 2rem;
}

.accordion li {
    list-style-type: disc;
}

.accordion .container.active .content {
    max-height: 20rem;
}

.accordion .container.active .label::before {
    content: "x";
}

/*end of accordion styles*/

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~footer styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    height: fit-content;
    background-color: var(--Main-Primary);
}

.footer .container-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .left-panel {
    flex-basis: 30%;
    width: 30%;
    color: var(--White);
}

.footer .left-panel img {
    height: 4rem;
    width: 9rem;
    margin-bottom: 1.5rem;
}

.footer .left-panel p {
    width: 100%;
    margin-bottom: 1.5rem;
}

.footer .left-panel .social-icon-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.footer .social-icon-wrapper span {
    background-color: #2d3034;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 0.5rem;
    cursor: pointer;
}

.footer .left-panel .social-icon-wrapper i {
    font-size: 3rem;
}

.footer .left-panel .social-icon-wrapper span:hover {
    background-color: var(--Primary-2);
}

.footer .right-panel {
    flex-basis: 40%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10%;
    color: var(--White);
}

.footer .right-panel a {
    color: var(--Secondary);
}

.footer .right-panel a:hover {
    color: var(--White);
}

.right-panel h4 {
    margin-bottom: 2rem;
}

.right-panel a {
    display: block;
    margin-bottom: 1.5rem;
}

.footer .horizontal-rule {
    height: 0.1rem;
    width: 100%;
    background-color: var(--Secondary);
}

.footer .container-bottom {
    min-height: 4rem;
    text-align: center;
    color: var(--White);
    text-align: center;
    padding-top: 2rem;
    line-height: 1.5;
}

.footer .container-bottom a {
    color: var(--Secondary);
    text-decoration: underline;
}

/* ********************************************************************************
  ############################ Responsive Design (written on 1536 * 720)#################################
  ******************************************************************************** */

@media only screen and (min-width : 1840px) {
    section,
    footer {
        padding: 5rem 15%;
    }

    .header {
        padding: 2.4rem 15%;
    }
}

@media only screen and (max-width: 1280px) {
    .primary-button {
        padding: 1.2rem 1.6rem;
        width: 16rem;
    }

    /*header styles*/
    .header {
        padding: 2rem 5rem;
        max-height: 9rem;
    }

    .navbar {
        gap: 2rem;
    }

    .nav-menu {
        gap: 1.8rem;
    }

    .landing-section h3{
        width: 90%;
    }
    .landing-section h3 span:first-child{
        letter-spacing: normal;
    }

    .wellness-section .img-panel h3,
    .wellness-section .img-panel p{
        width : 90%;
    }

    .testimonials {
        width: 100%;
        gap: 1.5rem;
    }

    .sub-heading,
    .accordion-section h3,
    .testimonials-section h3 {
        width: 90%;
    }

    .text-panel,
    .img-panel ,
    .form-panel
    {
        padding: 0rem 1rem;
    }

    .testimonials .card {
        padding: 3rem;
    }

    .footer .container-top .left-panel {
        flex-basis: 40%;
        width: 40%;
    }
}

/*small screens*/
@media only screen and (max-width: 924px) {

    /*header styles*/
    .header {
        height: 8rem;
        padding: 2rem 3rem;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        width: 100%;
        background-color: var(--Main-Primary);
        border-radius: 0 0 10px 10px;
        text-align: center;
        transition: all 0.3s;
        gap: 1.5rem;
        padding: 2rem 0;
    }

    .nav-button {
        display: none;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /*landing section styles*/
    .landing-section {
        min-height: calc(100vh-8rem);
        margin-top: 8rem;
    }
    .landing-section h3,p{
        width: 100%;
    }
    .landing-section h3 span:first-child{
        font-size: 6rem;
    }
    .landing-section h3 span:nth-child(2){
        color: var(--Primary-2);
    }
    .landing-section .we-are-hiring{
        width : 18rem;
        top : 2rem;
        margin-bottom: 2rem;
    }
    .landing-section h3{
        top : 2rem;
        margin-bottom: 2rem;
        padding: 0;
    }
    .landing-section p{
        top:2rem;
        margin-bottom: 1.5rem;
        padding: 0;
    }
    .landing-section .lower-link{
        top:2rem;
    }

    .text-panel ,
    .info-panel,
    .accordion-sm{
        flex-basis: 100%;
        width: 100%;
        padding: 0;
    }

    .img-panel,
    .wellness-section .img-panel{
        flex-basis: 100%;
        width: 100%;
        margin: 2rem 0rem;
        padding: 0;
    }

    .form-panel {
        flex-basis: 100%;
        width: 100%;
        margin: 5rem 0rem;
    }

    .accordion {
        width: 100%;
    }

    .testimonials .card {
        flex-basis: 90%;
        width: 90%;
    }

    .footer .container-top .left-panel {
        flex-basis: 50%;
        width: 50%;
    }
}

/*mobile screens*/
@media only screen and (max-width : 576px) {
    .landing-section .we-are-hiring,
    .landing-section h3,
    .landing-section p,
    .landing-section .lower-link{
        top:1rem;
    }
    .landing-section h3 span:first-child{
        font-size: 5rem;
    }

    .wellness-section .img-panel img{
        max-height: none;
        height: 35rem;
    }

    form .input-grp {
        flex-basis: 100%;
    }

    form button {
        width: 14rem;
        padding: 1rem .5rem;
        font-size: 1.4rem;
    }

    form input {
        font-size: 1.4rem;
        height: 4rem;
        border-radius: 4rem;
    }

    form textarea {
        font-size: 1.4rem;
        border-radius: 1.5rem;
        padding: 1rem;
        height: 15rem;
    }

    form select{
        font-size: 1.4rem;
        border-radius: 10px;
        padding: 1rem;
        height :4rem;
    }

    .accordion-section h3,
    .testimonials-section h3,
    .sub-heading {
        width: 100%;
    }

    .points-container .img-container {
        min-height: 5rem;
        min-width: 5rem;
    }

    .points-container .point {
        gap: 1rem;
    }

    .testimonials .card {
        flex-basis: 100%;
        width: 100%;
    }

    .testimonials .user-wrapper {
        gap: 1rem;
    }

    .accordion .container {
        padding: 2rem 0;
    }

    .accordion .content {
        padding-left: 1rem;
    }

    .footer .container-top .left-panel,
    .footer .container-top .right-panel {
        flex-basis: 100%;
        width: 100%;
    }
}
