/* 
layout 1 : > 924px;
layout 2 : <= 924px
layout 3 : <= 576px
*/

:root {
  --Main-Primary: #0c2027;
  --Highlight-Primary: #06ba63;
  --Secondary: #7e8693;
  --White: #ffffff;
  --Primary-2: #f06523;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%; /* 10 px */
  scroll-behavior: smooth;
}

.top-container {
  height: fit-content;
  width: 100%;
  overflow: hidden;
}

.main-section{
  /*for alterning order of sections*/
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--Main-Primary);
  width: 100%;
  max-height: 10rem;
  display: flex;
  padding: 2.4rem 16.7rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 10px 0px rgba(12,32,39,0.5);
}

.nav-logo img {
  min-width: 10rem;
  min-height: 4.5rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--White);
}

.nav-link:hover {
  color: var(--Primary-2);
}

.nav-button {
  width: 18rem;
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;

  border-radius: 0.6rem;
  border: none;
  background: var(--Highlight-Primary);
  color: var(--White);
  cursor: pointer;

  transition: all 0.3s;
}

.nav-button:hover {
  box-shadow: 0px 1px 4px 0px rgba(5, 45, 19, 0.777);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--White);
}




/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~landing-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.landing-section {
  width: 100%;
  min-height: calc(100vh - 10rem);

  background: linear-gradient(270deg, rgba(238, 238, 238, 0) 14.47%, #eee 91.58%),url("../assets/backgroundLarge.jfif"), lightgray;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-section .container {
  height: 80%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.landing-section .heading-large {
  font-size: 7rem;
  font-weight: 700;
  width: 60%;
  color: var(--Main-Primary);
}

.landing-section .heading-small {
  font-size: 1.6rem;
  font-weight: 400;
  width: 60%;
  color: var(--Secondary);
}

.landing-section .button-container {
  font-family: "Inter", sans-serif;
  width: 60%;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.landing-section .primary-button {
  width: 18rem;
  display: flex;
  padding: 1.4rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-radius: 0.6rem;
  border: none;
  background: var(--Highlight-Primary);
  color: var(--White);
  cursor: pointer;
}

.landing-section .secondary-button {
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.6rem;
  border: none;
  background: transparent;
  color: var(--Secondary);
  cursor: pointer;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~section-2 styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.section-2 {
  min-height: 100vh;
  width: 100%;
  background: var(--Main-Primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .container {
  padding: 5rem 8rem;
  height: 90%;
  width: 90%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.section-2 .heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.section-2 .header-large {
  font-size: 4rem;
  font-weight: 500;
  color: var(--White);
  width: 50%;
}

.section-2 .heading-container p {
  text-align: center;
}

.section-2 .header-small {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Secondary);
  width: 70%;
}

.section-2 .cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.section-2 .card1 {
  grid-area: 1/1/2/2;
}
.section-2 .card2 {
  grid-area: 2/1/3/2;
}
.section-2 .cards-master {
  grid-area: 1/2/3/3;
}
.section-2 .card3 {
  grid-area: 1/3/2/4;
}
.section-2 .card-4 {
  grid-area: 2/3/3/4;
}

.section-2 .cards-master {
  max-height : 48rem;
  max-width : 35rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2.5rem;
  border: none;

  background: url("../assets/masterCard-Background.png");
  background-position: bottom center;
  background-size: cover;
  color: var(--Secondary);
  gap: 2rem;
  overflow: hidden;
}

/*smartphone design*/
.phone-outer {
  width: 27rem;
  height: 50rem;
  flex-shrink: 0;

  border-radius: 4rem;
  background: #1c1b2d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-inner {
  width: 25rem;
  height: 48rem;
  flex-shrink: 0;

  border-radius: 3rem;
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
}

.phone-island {
  height: 1rem;
  width: 4rem;
  background-color: #23213b;
  border-radius: 0.5rem;
  position: relative;
  top: 3px;
  left: 43%;
}
/*end of smartphone design*/

.section-2 .cards-master .phone-container {
  position: relative;
  bottom: -4rem;
  right: -4rem;
}

.section-2 .cards-master .phone-inner {
  background-image: url("../assets/smartphone.png");
}

/*card styles*/
.section-2 .card {
  max-height : 23rem;
  max-width : 35rem;
  border-radius: 2rem;
  background: rgba(126, 134, 147, 0.1);
  padding: 2rem;

  color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.section-2 .card .card-heading,
.section-2 .cards-master .card-heading {
  font-size: 1.4rem;
  font-weight: 500;
}

.section-2 .card .card-content,
.section-2 .cards-master .card-content {
  font-size: 1.4rem;
  font-weight: 300;
}

.section-2 .card .card-content p,
.section-2 .cards-master .card-content p {
  text-align: left;
}

.section-2 .card .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .card img {
  height: 70%;
  width: 80%;
}
/*end of card styles*/

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~content-section-v9 styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.content-section-v9 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Main-Primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-v9 .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
}

.content-section-v9 .heading-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: var(--White);
  text-align: center;
}

.content-section-v9 .heading-wrapper h1 {
  font-size: 4rem;
  font-weight: 500;
  width: 50%;
}

.content-section-v9 .heading-wrapper p {
  font-size: 1.8rem;
  font-weight: 300;
  width: 100%;
}

.content-section-v9 .heading-wrapper span {
  font-size: 4rem;
  font-weight: 500;
  color: var(--Highlight-Primary);
}

.content-section-v9 .body {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;
}

.content-section-v9 .card1 {
  grid-area: 1/1/2/2;
}
.content-section-v9 .card2 {
  grid-area: 1/2/2/3;
}
.content-section-v9 .card3 {
  grid-area: 1/3/2/4;
}

.content-section-v9 .card {
  border-radius: 2.4rem;
  max-height : 45rem;
  max-width : 35rem;
  background: rgba(126, 134, 147, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  gap : 2rem;
}

.content-section-v9 .card .img-wrapper {
  height: 70%;
  width: 95%;
}

.content-section-v9 .card img{
  width:100%;
  height: 100%;
  border-radius: 1.8rem;
}

.content-section-v9 .card .card-content {
  width: 95%;
  text-align: left;
}

.content-section-v9 .card .card-content a {
  text-decoration: underline;
  color: var(--White);
}
.content-section-v9 .card .card-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Highlight-Primary);
}
.content-section-v9 .card .card-content p {
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--White);
}

.content-section-v9 .container .lower-link {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--White);
  text-decoration: underline;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~about section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about-section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Main-Primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.about-section .container {
  width: 90%;
  height: 90%;
  padding: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section .left-panel {
  height: 50vh;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--White);
  gap: 4rem;
}

.about-section h1 {
  font-size: 8rem;
  font-weight: 500;
}

.about-section p {
  font-size: 1.8rem;
  font-weight: 400;
}

.about-section .right-panel {
  height: 50vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~dual-phones section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.dual-phones-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Main-Primary);
}

.dual-phones-section .container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 2rem 5rem;
  overflow: visible;
}

.dual-phones-section .left-panel {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dual-phones-section .phone-back,
.content-section-v1 .phone-back {
  z-index: 10;
  transform: rotate(-3deg);
}
.dual-phones-section .phone-front ,
.content-section-v1 .phone-front{
  z-index: 20;
  transform: rotate(5deg) translate(-8rem, 4rem);
}

.dual-phones-section .phone-back .phone-inner ,
.content-section-v1 .phone-back .phone-inner{
  background-image: url("../assets/smartphoneBack.png");
}

.dual-phones-section .phone-front .phone-inner ,
.content-section-v1 .phone-front .phone-inner{
  background-image: url("../assets/smartphoneFront.png");
}

.dual-phones-section .right-panel {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--White);
  gap: 3rem;
}

.dual-phones-section .right-panel h1 {
  font-size: 4rem;
  font-weight: 500;
}

.dual-phones-section .right-panel p {
  font-size: 2rem;
  font-weight: 300;
}

.dual-phones-section .points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.dual-phones-section .points-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.dual-phones-section .points-container .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~flexible-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.flexible-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Main-Primary);
}

.flexible-section .container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 2rem 5rem
}

.flexible-section .right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexible-section .right-panel img {
  height: 54.2rem;
  width: 54rem;
  border-radius: 2rem;
}

.flexible-section .left-panel {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--White);
  gap: 3rem;
}

.flexible-section .left-panel h1 {
  font-size: 4rem;
  font-weight: 500;
}

.flexible-section .left-panel p {
  font-size: 2rem;
  font-weight: 300;
}

.flexible-section .points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.flexible-section .points-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.flexible-section .points-container .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~trade-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.trade-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Main-Primary);
}

.trade-section .container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  
}

.trade-section .left-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-section .left-panel img {
  height: 37rem;
  width: 54rem;
  border-radius: 2rem;
}

.trade-section .right-panel {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--White);
  gap: 3rem;
}

.trade-section .right-panel h1 {
  font-size: 4rem;
  font-weight: 500;
}

.trade-section .right-panel p {
  font-size: 2rem;
  font-weight: 300;
}

.trade-section .points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.trade-section .points-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.trade-section .points-container .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~testimonials section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.testimonials-section {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Main-Primary);
}

.testimonials-section .container {
  height: 90%;
  width: 90%;
  color: var(--White);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.testimonials-section h1 {
  font-size: 5rem;
  font-weight: 700;
}

.testimonials-section .testimonials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 5%;
}

.testimonials-section .card {
  max-height: 45rem;
  max-width: 57rem;
  border-radius: 4rem;
  background: rgba(126, 134, 147, 0.1);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.testimonials-section .card p {
  font-size: 2rem;
  font-weight: 200;
}
.testimonials-section .user-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.testimonials-section .img-wrapper {
  height: 5.8rem;
  width: 5.8rem;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials-section img {
  height: 100%;
  width: 100%;
}
.testimonials-section .user-wrapper p:first-child {
  font-weight: 400;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~content-section-v1 styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.content-section-v1 {
  width: 100%;
  min-height: 100vh;
  background-color: #364548;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-v1 .container {
  width: 90%;
  height: 90%;
  padding: 5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-section-v1 .left-panel {
  height: 50vh;
  width: 50%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--White);
  gap: 4rem;
}

.content-section-v1 h1 {
  font-size: 6rem;
  font-weight: 500;
}

.content-section-v1 p {
  font-size: 1.8rem;
  font-weight: 200;
}

.content-section-v1 .primary-button {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  width: 18rem;

  border-radius: 0.6rem;
  border: none;
  background: var(--Highlight-Primary);
  color: var(--White);
  cursor: pointer;
}

.content-section-v1 .right-panel {
  height: 50vh;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-v1 img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.content-section-v1 .phone-back,
.content-section-v1 .phone-front{
  display: none;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~accodrian-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.accordion-section {
  background-color: var(--Main-Primary);
  width: 100%;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: var(--White);
}

.accordion-section .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion-section .heading {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  text-align: center;
}

.accordion-section .heading h1 {
  font-size: 4rem;
  font-weight: 500;
}

.accordion-section .heading p {
  font-size: 1.6rem;
  font-weight: 300;
}

/*accordion styles*/
.accordion {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.accordion .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  width: 95%;

  border: 2px solid var(--White);
  border-radius: 1rem;
}

.accordion .label {
  position: relative;
  width: 90%;

  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}

.accordion .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}

/*hidden initialy with height = 0*/
.accordion .content {
  padding-top: 0.5rem;

  position: relative;
  width: 90%;
  max-height: 0;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.5s;
}

.accordion ul {
  padding-left: 2rem;
}
.accordion li {
  list-style-type: disc;
}

.accordion .container.active .content {
  max-height: 14rem;
  /* padding-top: 1rem; */
}

.accordion .container.active .label::before {
  content: "x";
}
/*end of accordion styles*/


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~footer styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
  height: fit-content;
  width: 100%;
  background-color: var(--Main-Primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer .container-top {
  width: 80%;
  padding: 10rem 4rem;
  display: flex;
  justify-content: space-between;
}

.footer .left-panel {
  width: 30%;
  color: var(--White);
  font-size: 1.8rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer .left-panel img {
  height: 4rem;
  width: 9rem;
}

.footer .left-panel .social-icon-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer .social-icon-wrapper span{
  background-color: #2d3034;
  height : 4rem;
  width : 4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer .left-panel .social-icon-wrapper i {
  font-size: 3rem;
  color: var(--White);
  /* --fa-inverse : #fff;
  --fa-border-color : #fff; */
}

.footer .left-panel .social-icon-wrapper span:hover {
  background-color: var(--Primary-2);
}

.footer .right-panel {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap : 10%;
  font-family: "Inter", sans-serif;
}

.footer .right-panel h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--White);
}

.footer .right-panel a {
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--Secondary);
}

.footer .right-panel a:hover {
  color: var(--White);
}

.footer .links-left,
.footer .links-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footer .links-left span,
.footer .links-right span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer .horizontal-rule {
  height: 0.1rem;
  width: 100%;
  background-color: var(--Secondary);
}

.footer .container-bottom {
  width: 90%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.footer .container-bottom a {
  color: #b4b9c9;
  text-decoration: underline;
}

/* ********************************************************************************
############################ Responsive Design (written on 1536 * 720)#################################
******************************************************************************** */

@media only screen and (max-width: 1280px){
  .header{
    padding: 2rem 5rem;
    max-height: 9rem;
  }
  .navbar{
    gap:2rem;
  }
  .nav-menu{
    gap:1.8rem;
  }
  .nav-button{
    padding : 1.2rem 1.6rem;
    width : 16rem;
  }

  .landing-section{
    background-position: right;
  }

  .section-2 .container{
    padding: 2rem 3rem;
    gap : 1rem;
  }
  .section-2 .cards-container{
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .section-2 .cards-master{
    max-height: 47rem;
  }
  .section-2 .card{
    gap:1rem;
  }

  .content-section-v9 .heading-wrapper{
    width: 90%;
  }
  .content-section-v9 .heading-wrapper h1{
    width: 80%;
  }
  .content-section-v9 .body{
    width: 100%;
  }

  .dual-phones-section .container{
    width: 100%;
    padding-left: 13%;
    padding-right: 1rem;
  }
  .dual-phones-section .right-panel{
    width: 55%;
  }
  .dual-phones-section .points-container span,
  .flexible-section .points-container span{
    gap : .5rem;
  }
  .dual-phones-section .phone-outer{
    width : 23rem;
    height : 48rem;
  }
  .dual-phones-section .phone-inner{
    width : 21rem;
    height : 46rem;
  }
  
  .flexible-section .container{
    width: 100%;
  }
  .flexible-section .right-panel img {
    height: 50rem;
    width : 50rem;
  }

  .trade-section .container{
    width : 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .content-section-v1 .container{
    height: 95%;
    padding: 2rem;
  }

  .accordion-section .container{
    width: 95%;
  }

  .footer .container-top{
    width: 90%;
    padding: 5rem 3rem;
  }
  .footer .container-top .left-panel{
    width : 40%;
  }
}

@media only screen and (max-width:1080px){
  .section-2 ,.heading-container{
    gap:.5rem;
  }
  .section-2 .header-large{
    font-size: 3.5rem;
    width: 90%;
  }
  .section-2 .header-small{
    font-size: 1.6rem;
    width: 90%;
  }
  .section-2 .card {
    padding: 1rem;
  }

  .content-section-v9 .container{
    width: 97%;
  }

  .flexible-section .container{
    padding : 2rem 2rem;
  }
  .flexible-section .right-panel img{
    height: 45rem;
    width: 45rem;
  }

  .trade-section .left-panel img{
    height : 35rem;
    width: 50rem;
  }  

  .testimonials-section .testimonials{
    gap : 3%;
  }
  .testimonials-section .testimonials .card{
    padding: 3rem;
  }

  .content-section-v1 .container{
    justify-content: center;
    gap : 5%;
  }
  .content-section-v1 .left-panel{
    width : 60%;
    padding-left: 0;
  }
}

@media only screen and (max-width:990px){
  .landing-section .heading-large{
    width : 80%;
    font-size: 6rem;
  }
  .landing-section .button-container{
    width:80%;
  }

  .about-section .container{
    padding: 2rem;
  }
  .about-section .left-panel{
    width : 50%;
  }
  .about-section .h1{
    font-size: 5rem;
  }

  .trade-section .left-panel img{
    height : 33rem;
    width: 45rem;
  }
  .trade-section .right-panel{
    gap : 1.5rem;
  }
  .trade-section .points-container span{
    justify-content: flex-start;
    gap : 1rem;
  }
}

/*small screens*/
@media only screen and (max-width: 924px){
  .header {
    height: 8rem;
    padding: 2rem 3rem;
    position:fixed;
    top:0;
    z-index: 100;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    flex-direction: column;
    background-color: var(--Main-Primary);
    color: var(--White);

    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: all 0.3s;
    gap : 1.5rem;
    padding:1rem 0;
  }
  .navbar .nav-button {
    display: none;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


  .landing-section {
    min-height: calc(100vh-8rem);
    background: linear-gradient(
        270deg,
        rgba(238, 238, 238, 0) 14.47%,
        #eee 91.58%
      ),
      url("../assets/backgroundLarge.jfif"),
      lightgray -686.557px 1.526px / 203.093% 100% no-repeat;
    background-size: cover;
    background-position: right center;
    margin-top: 8rem;
  }
  .landing-section .heading-large{
    width : 90%;
  }
  .landing-section .button-container{
    width: 100%;
    gap: 1.5rem;
  }


  .section-2 .cards-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr);
    row-gap: 1rem;
  }
  .section-2 .card1 {
    grid-area: 1/1/2/2;
  }
  .section-2 .card2 {
    grid-area: 2/1/3/2;
  }
  .section-2 .cards-master {
    grid-area: 3/1/6/2;
  }
  .section-2 .card3 {
    grid-area: 6/1/7/2;
  }
  .section-2 .card-4 {
    grid-area: 7/1/8/2;
  }
  .section-2 .card{
    max-height: 15rem;
    max-width: 90%;
    margin: auto;
  }
  .section-2 .cards-master{
    max-width: 90%;
    max-height: 47rem;
    margin: auto;
  }

  .content-section-v9 .container{
    width : 95%
  }
  .content-section-v9 .body{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    row-gap: 2rem;
    width : 90%;
  }
  .content-section-v9 .card1 {
    grid-area: 1/1/2/2;
  }
  .content-section-v9 .card2 {
    grid-area: 2/1/3/2;
  }
  .content-section-v9 .card3 {
    grid-area: 3/1/4/2;
  }
  .content-section-v9 .card{
    max-width: 100%;
    max-height: 30rem;
  }

  .about-section .container{
    flex-direction: column;
    justify-content: center;
    gap : 2rem;
  }
  .about-section .left-panel{
    width: 90%;
    height: fit-content;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
  }
  .about-section .right-panel{
    width : 90%;
  }

  .dual-phones-section .container,
  .flexible-section .container,
  .trade-section .container{
    flex-direction: column;
    padding: 2rem 5rem;
  }
  .dual-phones-section .left-panel{
    padding-left: 10%;
  }
  .dual-phones-section .phone-outer{
    width : 27rem;
    height : 49rem;
  }
  .dual-phones-section .phone-inner{
    width : 25rem;
    height : 47rem;
  }
  .dual-phones-section .right-panel,
  .flexible-section .left-panel,
  .trade-section .right-panel{
    width: 100%;
    padding-top: 8rem;
    padding-left: 3rem;
    gap:2rem;
  }

  .flexible-section .right-panel{
    padding-top: 4rem;
    width : 95%;
  }
  .flexible-section .right-panel img{
    max-width: 50rem;
    max-height: 50rem;
  }

  .trade-section .left-panel{
    width: 100%;
    padding:2rem 0;
  }
  .trade-section .left-panel img{
    min-width: 95%;
    max-height: 35rem;
  }
  .trade-section .right-panel{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .testimonials-section .container{
    gap: 2rem;
    padding: 2rem 2rem;
  }
  .testimonials-section .testimonials{
    flex-direction: column;
    gap : 2rem;
  }

  .content-section-v1 .container{
    flex-direction: column;
    gap : 2rem;
  }
  .content-section-v1 .left-panel,
  .content-section-v1 .right-panel{
    height: fit-content;
    width : 100%;
    gap : 1.5rem;
  }

  .accordion-section{
    padding: 2rem 0;
  }
  .accordion-section .heading{
    width : 85%;
  }
  .accordion{
    width: 100%;
  }

  .footer .container-top{
    width: 95%;
    padding: 5rem 0;
  }
  .footer .container-top .left-panel{
    width : 50%;
  }
  .footer .container-top .right-panel{
    width: 40%;
  }

  .footer .horizontal-rule{
    width : 90%;
  }
  .footer .container-bottom{
    height : 8rem;
    padding: 2rem;
  }

  /*order of sections*/
  .landing-section{
    order :0 ;
  }
  .section-2{
    order : 1;
  }
  .content-section-v9{
    order : 6;
  }
  .about-section{
    order : 2;
  }
  .dual-phones-section{
    order : 3;
  }
  .flexible-section{
    order : 4;
  }
  .trade-section{
    order : 5;
  }
  .testimonials-section{
    order :7 ;
  }
  .content-section-v1{
    order :8 ;
  }
  .accordion-section{
    order : 9;
  }
}

@media only screen and (max-width : 736px){
  .landing-section .primary-button{
    width : 16rem;
  }
  .landing-section .secondary-button{
    color: var(--White);
    padding : 1.2rem;
  }

  .section-2 .container{
    width:100%;
    padding: 2rem 2rem;
  }

  .about-section .left-panel,
  .about-section .right-panel{
    width: 100%;
  }

  .dual-phones-section .right-panel{
    padding-left: 1rem;
  }
  .flexible-section .left-panel{
    padding-left: 0;
  }
  
  .accordion-section .accordion .container.active .content{
    max-height:20rem
  }
}

/*mobile screens*/
@media only screen and (max-width : 576px){
  /* html{
    font-size: 55%;
  } */

  .landing-section {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%),url("../assets/backgroundLarge.jfif"), lightgray -904.39px 0px / 346.82% 100% no-repeat;
    background-size: cover;
    background-position: right center;
  }
  .landing-section .container{
    width: 90%;
  }
  .landing-section .heading-large,
  .landing-section .heading-small{
    color: var(--White);
    width: 100%;
  }
  .landing-section .heading-large{
    font-size: 4rem;
  }
  .landing-section .button-container{
    flex-direction: column;
    justify-content: center;
    gap : 1.5rem;
    width: 100%;
  }
  .landing-section .primary-button,.secondary-button{
    width: 100%;
    border-radius: 1rem;
  }
  .landing-section .secondary-button{
    color: var(--Secondary);
    background-color: var(--White);
    font-size: 1.6rem;
  }

  .section-2 .cards-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    row-gap: 1rem;
  }
  .section-2 .card1 {
    grid-area: 1/1/2/2;
  }
  .section-2 .card2 {
    grid-area: 2/1/3/2;
  }
  .section-2 .cards-master {
    grid-area: 3/1/5/2;
  }
  .section-2 .card3 {
    grid-area: 5/1/6/2;
  }
  .section-2 .card-4 {
    grid-area: 6/1/7/2;
  }
  .section-2 .card{
    min-height: 25rem;
    max-width: 100%;
  }
  .section-2 .cards-master{
    max-width: 100%;
    min-height: 50rem;
    background-image: none;
    background-color: var(--Highlight-Primary);
    color: var(--White);
  }

  .content-section-v9 .heading-wrapper,
  .content-section-v9 .heading-wrapper h1{
    width : 95%;
  }
  .content-section-v9 .body{
    width : 95%;
  }
  .content-section-v9 .card{
    max-height: 35rem;
  }

  .about-section{
    display: none;
  }

  .dual-phones-section .container{
    width: 96%;
    padding-left : 0;
    padding-right: 0;
  }
  .dual-phones-section .left-panel,
  .dual-phones-section .right-panel{
    width: 100%;
  }
  .dual-phones-section .left-panel{
    padding-left: 17%;
  }
  .dual-phones-section .phone-outer{
    width : 21rem;
    height : 45rem;
  }
  .dual-phones-section .phone-inner{
    width : 19rem;
    height : 43rem;
  }
  .dual-phones-section .right-panel{
    padding-left:2rem;
  }
  .dual-phones-section .points-container .img-container,
  .flexible-section .points-container .img-container,
  .trade-section .points-container .img-container{
    height: 5rem;
    width: 5rem;
  }

  .flexible-section .left-panel{
    order: 1;
  }

  .trade-section .right-panel{
    padding : 3rem 1rem;
    padding-right: 0;
  }

  .testimonials-section .container{
    width: 100%;
  }
  .testimonials-section .testimonials .card{
    padding: 1.5rem;
  }
  .testimonials-section .testimonials .card .user-wrapper{
    gap : 1rem;
  }

  .content-section-v1{
    background-color: var(--Highlight-Primary);
  }
  .content-section-v1 .primary-button{
    background-color: var(--Main-Primary);
  }
  .content-section-v1 .container{
    padding-bottom: 8rem;
  }
  .content-section-v1 h1{
    font-size: 4rem;
  }
  .content-section-v1 .right-panel{
    padding-left: 23%;
  }
  .content-section-v1 .right-panel img{
    display: none;
  }
  .content-section-v1 .right-panel .phone-back,
  .content-section-v1 .right-panel .phone-front{
    display: block;
  }
  .content-section-v1 .phone-outer{
    width : 21rem;
    height : 45rem;
  }
  .content-section-v1 .phone-inner{
    width : 19rem;
    height : 43rem;
  }

  .accordion-section .heading{
    width : 100%;
  }
  .accordion-section .accordion .container{
    padding: 2rem 0;
  }

  .footer .container-top{
    flex-direction: column;
    justify-content: center;
    gap : 2rem;
    padding-left: 3%;
  }
  .footer .container-top .left-panel{
    width : 95%;
  }
  .footer .container-top .right-panel{
    width : 95%;
  }
} 

@media only screen and (max-width : 410px){
  .landing-section{
    background-position: 90% center;
  }

  .dual-phones-section .phone-back,
  .content-section-v1 .phone-back{
    transform: rotate(-3deg) translate(4rem,0);
  }
  .dual-phones-section .right-panel{
    padding-left: 1rem;
  }

  .flexible-section .container,
  .trade-section .container{
    width : 95%;
    padding-left: 0;
    padding-right: 0;
  }
  .flexible-section .right-panel img{
    width : 95%;
  }

  .content-section-v1 .container{
    width: 95%;
    padding: 3rem 0 8rem 0;
  }
  .content-section-v1 .phone-outer,
  .dual-phones-section .phone-outer{
    width : 18rem;
    height : 38rem;
  }
  .content-section-v1 .phone-inner,
  .dual-phones-section .phone-inner{
    width : 16rem;
    height : 36rem;
  }
  .content-section-v1 .right-panel{
    padding-left: 10%;
  }

  .footer .horizontal-rule{
    width : 95%;
  }
  .footer .container-bottom{
    height : 10rem;
    padding: 1rem;
  }
}