:root {
  --Main-Primary: #0c2027;
  --Highlight-Primary: #06ba63;
  --Secondary: #7e8693;
  --White: #ffffff;
  --Primary-2: #f06523;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  height: fit-content;
  width: 100%;
  /* overflow: hidden; */
}

.header {
  background-color: var(--Main-Primary);
  width: 100%;
  height: 10rem;
  display: flex;
  padding: 2.4rem 16.7rem;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  width: 9rem;
  height: 4rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--White);
}

.nav-link:hover {
  color: var(--Primary-2);
}

.nav-button {
  width: 18rem;
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;

  border-radius: 0.6rem;
  border: none;
  background: var(--Highlight-Primary);
  color: var(--White);
  cursor: pointer;

  transition: all 0.3s;
}

.nav-button:hover {
  box-shadow: 0px 1px 4px 0px rgba(5, 45, 19, 0.777);
}

.nav-button:hover i {
  font-size: 1.8rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--White);
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~landing-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.landing-section {
  width: 100%;
  height: calc(100vh - 10rem);

  background: linear-gradient(
      270deg,
      rgba(238, 238, 238, 0) 14.47%,
      #eee 91.58%
    ),
    url("../assets/backgroundLarge.jfif"), lightgray;

  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-section .container {
  height: 80%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.landing-section .heading-large {
  font-size: 7rem;
  font-weight: 700;
  width: 60%;
  color: var(--Main-Primary);
}

.landing-section .heading-small {
  font-size: 1.6rem;
  font-weight: 400;
  width: 60%;
  color: var(--Secondary);
}

.landing-section .button-container {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  width: 60%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.landing-section .primary-button {
  width: 18rem;
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  border-radius: 0.6rem;
  border: none;
  background: var(--Highlight-Primary);
  color: var(--White);
  cursor: pointer;
}

.landing-section .secondary-button {
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.6rem;
  border: none;
  background: transparent;
  color: var(--Secondary);
  cursor: pointer;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~section-2 styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.section-2 {
  height: 100vh;
  width: 100%;
  padding-top: 6rem;
  background: var(--Main-Primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .container {
  padding: 2rem 8rem;
  height: 90%;
  width: 90%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.section-2 .heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.section-2 .header-large {
  font-size: 4rem;
  font-weight: 500;
  color: var(--White);
  width: 50%;
}

.section-2 .heading-container p {
  text-align: center;
}

.section-2 .header-small {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Secondary);
  width: 70%;
}

.section-2 .cards-container {
  width: 100%;
  max-height: 65%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.section-2 .card1 {
  grid-area: 1/1/2/2;
}
.section-2 .card2 {
  grid-area: 2/1/3/2;
}
.section-2 .cards-master {
  grid-area: 1/2/3/3;
}
.section-2 .card3 {
  grid-area: 1/3/2/4;
}
.section-2 .card-4 {
  grid-area: 2/3/3/4;
}

.section-2 .cards-master {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2.5rem;
  border: none;

  background: url("../assets/masterCard-Background.png");
  background-position: bottom center;
  background-size: cover;
  color: var(--Secondary);
  gap: 2rem;
  overflow: hidden;
}

/*smartphone design*/
.phone-outer {
  width: 27rem;
  height: 50rem;
  flex-shrink: 0;

  border-radius: 4rem;
  background: #1c1b2d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-inner {
  width: 25rem;
  height: 48rem;
  flex-shrink: 0;

  border-radius: 3rem;
  /* background: lightgray 0.42px -2.309px / 100% 118.07% no-repeat; */
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
}

.phone-island {
  height: 1rem;
  width: 4rem;
  background-color: #23213b;
  border-radius: 0.5rem;
  position: relative;
  top: 3px;
  left: 43%;
}
/*end of smartphone design*/

.section-2 .cards-master .phone-container {
  position: relative;
  bottom: -4rem;
  right: -8rem;
}

.section-2 .cards-master .phone-inner {
  background-image: url("../assets/smartphone.png");
}

/*card styles*/
.section-2 .card {
  border-radius: 2rem;
  background: rgba(126, 134, 147, 0.1);
  padding: 2rem;

  color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.section-2 .card .card-heading,
.section-2 .cards-master .card-heading {
  font-size: 1.4rem;
  font-weight: 500;
}

.section-2 .card .card-content,
.section-2 .cards-master .card-content {
  font-size: 1.4rem;
  font-weight: 300;
}

.section-2 .card .card-content p,
.section-2 .cards-master .card-content p {
  text-align: left;
}

.section-2 .card .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .card img {
  height: 70%;
  width: 80%;
}
/*end of card styles*/

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~content-section-v9 styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.content-section-v9 {
  height: 100vh;
  width: 100%;
  background-color: var(--Main-Primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-v9 .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding-top: 8rem;
}

.content-section-v9 .heading-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--White);
  text-align: center;
}

.content-section-v9 .heading-wrapper h1 {
  font-size: 4rem;
  font-weight: 500;
  width: 50%;
}

.content-section-v9 .heading-wrapper p {
  font-size: 1.8rem;
  font-weight: 300;
  width: 100%;
}

.content-section-v9 .heading-wrapper span {
  font-size: 4rem;
  font-weight: 500;
  color: var(--Highlight-Primary);
}

.content-section-v9 .body {
  width: 90%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;
}

.content-section-v9 .card1 {
  grid-area: 1/1/2/2;
}
.content-section-v9 .card2 {
  grid-area: 1/2/2/3;
}
.content-section-v9 .card3 {
  grid-area: 1/3/2/4;
}

.content-section-v9 .card {
  border-radius: 2.4rem;
  background: rgba(126, 134, 147, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.content-section-v9 .card .img-wrapper {
  height: 70%;
  width: 95%;

  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.2rem;
}

.content-section-v9 .card .step1 {
  background: url("../assets/step1.png");
  background-position: bottom center;
}
.content-section-v9 .card .step2 {
  background: url("../assets/step2.png");
  background-position: bottom center;
}
.content-section-v9 .card .step3 {
  background: url("../assets/step3.png");
  background-position: bottom center;
}

.content-section-v9 .card .card-content {
  width: 95%;
  text-align: left;
}

.content-section-v9 .card .card-content a {
  text-decoration: underline;
  color: var(--White);
}
.content-section-v9 .card .card-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--Highlight-Primary);
}
.content-section-v9 .card .card-content p {
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--White);
}

.content-section-v9 .container .lower-link {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--White);
  text-decoration: underline;
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~about section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about-section {
  width: 100%;
  height: 100vh;
  background-color: var(--Main-Primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.about-section .container {
  width: 90%;
  height: 90%;
  padding: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section .left-panel {
  height: 50vh;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--White);
  gap: 4rem;
}

.about-section h1 {
  font-size: 8rem;
  font-weight: 500;
}

.about-section p {
  font-size: 1.8rem;
  font-weight: 400;
}

.about-section .right-panel {
  height: 50vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~dual-phones section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.dual-phones-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Main-Primary);
}

.dual-phones-section .container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  overflow: visible;
}

.dual-phones-section .left-panel {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dual-phones-section .phone-back {
  z-index: 10;
  transform: rotate(-3deg);
}
.dual-phones-section .phone-front {
  z-index: 20;
  transform: rotate(5deg) translate(-8rem, 4rem);
}

.dual-phones-section .phone-back .phone-inner {
  background-image: url("../assets/smartphoneBack.png");
}

.dual-phones-section .phone-front .phone-inner {
  background-image: url("../assets/smartphoneFront.png");
}

.dual-phones-section .right-panel {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--White);
  gap: 3rem;
}

.dual-phones-section .right-panel h1 {
  font-size: 4rem;
  font-weight: 500;
}

.dual-phones-section .right-panel p {
  font-size: 2rem;
  font-weight: 300;
}

.dual-phones-section .points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.dual-phones-section .points-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.dual-phones-section .points-container .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~flexible-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.flexible-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Main-Primary);
}

.flexible-section .container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.flexible-section .right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexible-section .right-panel img {
  height: 54.2rem;
  width: 54rem;
  border-radius: 2rem;
}

.flexible-section .left-panel {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--White);
  gap: 3rem;
}

.flexible-section .left-panel h1 {
  font-size: 4rem;
  font-weight: 500;
}

.flexible-section .left-panel p {
  font-size: 2rem;
  font-weight: 300;
}

.flexible-section .points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.flexible-section .points-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.flexible-section .points-container .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~trade-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.trade-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--Main-Primary);
}

.trade-section .container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  gap:2rem;
}

.trade-section .left-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-section .left-panel img {
  height: 37rem;
  width: 54rem;
  border-radius: 2rem;
}

.trade-section .right-panel {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--White);
  gap: 3rem;
}

.trade-section .right-panel h1 {
  font-size: 4rem;
  font-weight: 500;
}

.trade-section .right-panel p {
  font-size: 2rem;
  font-weight: 300;
}

.trade-section .points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.trade-section .points-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.trade-section .points-container .img-container {
  height: 6rem;
  width: 6rem;
  background-color: var(--Highlight-Primary);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~testimonials section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.testimonials-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Main-Primary);
}

.testimonials-section .container {
  height: 90%;
  width: 90%;
  color: var(--White);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.testimonials-section h1 {
  font-size: 5rem;
  font-weight: 700;
}

.testimonials-section .testimonials {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials-section .card {
  height: 35rem;
  width: 57rem;
  border-radius: 4rem;
  background: rgba(126, 134, 147, 0.1);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.testimonials-section .card p {
  font-size: 2rem;
  font-weight: 200;
}
.testimonials-section .user-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.testimonials-section .img-wrapper {
  height: 5.8rem;
  width: 5.8rem;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials-section img {
  height: 100%;
  width: 100%;
}
.testimonials-section .user-wrapper p:first-child {
  font-weight: 400;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~content-section-v1 styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.content-section-v1 {
  width: 100%;
  height: 100vh;
  background-color: #364548;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.content-section-v1 .container {
  width: 90%;
  height: 90%;
  padding: 5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-section-v1 .left-panel {
  height: 50vh;
  width: 50%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--White);
  gap: 4rem;
}

.content-section-v1 h1 {
  font-size: 6rem;
  font-weight: 500;
}

.content-section-v1 p {
  font-size: 1.8rem;
  font-weight: 200;
}

.content-section-v1 .primary-button {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  padding: 1.4rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  width: 18rem;

  border-radius: 0.6rem;
  border: none;
  background: var(--Highlight-Primary);
  color: var(--White);
  cursor: pointer;
}

.content-section-v1 .right-panel {
  height: 50vh;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-v1 img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~accodrian-section styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.accordion-section {
  background-color: var(--Main-Primary);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: var(--White);
}

.accordion-section .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion-section .heading {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  text-align: center;
}

.accordion-section .heading h1 {
  font-size: 4rem;
  font-weight: 500;
}

.accordion-section .heading p {
  font-size: 1.6rem;
  font-weight: 300;
}

/*accordion styles*/
.accordion {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.accordion .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  width: 95%;

  border: 2px solid var(--White);
  border-radius: 1rem;
}

.accordion .label {
  position: relative;
  width: 90%;

  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}

.accordion .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

/*hidden initialy with height = 0*/
.accordion .content {
  padding-top: 0.5rem;

  position: relative;
  width: 90%;
  max-height: 0;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.5s;
}

.accordion ul {
  padding-left: 2rem;
}
.accordion li {
  list-style-type: disc;
}

.accordion .container.active .content {
  max-height: 12rem;
  /* padding-top: 1rem; */
}

.accordion .container.active .label::before {
  content: "x";
}
/*end of accordion styles*/


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~footer styles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
  height: fit-content;
  width: 100%;
  background-color: var(--Main-Primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer .container-top {
  width: 80%;
  padding: 10rem 4rem;
  display: flex;
  justify-content: space-between;
  gap: 30rem;
}

.footer .left-panel {
  width: 30%;
  color: var(--White);
  font-size: 1.8rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer .left-panel img {
  height: 4rem;
  width: 9rem;
}

.footer .left-panel .social-icon-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer .social-icon-wrapper span{
  background-color: #2d3034;
  height : 4rem;
  width : 4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer .left-panel .social-icon-wrapper i {
  font-size: 3rem;
  color: var(--White);
  /* --fa-inverse : #fff;
  --fa-border-color : #fff; */
}

.footer .left-panel .social-icon-wrapper span:hover {
  background-color: var(--Primary-2);
}

.footer .right-panel {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  font-family: "Inter", sans-serif;
}

.footer .right-panel h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--White);
}

.footer .right-panel a {
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--Secondary);
}

.footer .right-panel a:hover {
  color: var(--White);
}

.footer .links-left,
.footer .links-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footer .links-left span,
.footer .links-right span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer .horizontal-rule {
  height: 0.1rem;
  width: 100%;
  background-color: var(--Secondary);
}

.footer .container-bottom {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.footer .container-bottom a {
  color: #b4b9c9;
  text-decoration: underline;
}

/* ********************************************************************************
############################ Responsive Design (written on 1536 * 720)#################################
******************************************************************************** */
/*large screens*/
@media only screen and (max-width: 1400px) {
  .dual-phones-section .container,
  .flexible-section .container,
  .trade-section .container{
    padding: 0 5rem;
  }

  .dual-phones-section .right-panel,
  .flexible-section .left-panel,
  .trade-section .right-panel{
    width : 50%;
  }
  
  .testimonials-section .container{
    padding : 3rem 2rem;
  }

  .testimonials-section .card{
    width : 52rem;
  }
}

@media only screen and (max-width: 1280px) {
  html{
    font-size: 57%;
  }

  .header{
    padding: 2.4rem 4rem;
  }

  .dual-phones-section .container,
  .flexible-section .container,
  .trade-section .container{
    width:95%;
    padding-left: 0;
    padding-right: 0;
  }

  .section-2 .container{
    padding: 0 6rem;
  }

  .content-section-v9 .container{
    justify-content: center;
    gap : 2rem;
  }

  .dual-phones-section{
    padding-left: 10rem;
  }
  
  .testimonials-section,.content-section-v1{
    height: 60vh;
  }

  .testimonials-section .card{
    padding: 2rem;
    height: 30rem;
    width:47rem;
    border-radius: 3rem;
  }

  .content-section-v1 .container{
    justify-content: space-between;
    padding : 0;
  }
  .content-section-v1 .left-panel,
  .content-section-v1 .right-panel{
    height : 90%;
    width:50%;
  }

  .accordion-section{
    padding : 0;
  }
  .accordion-section .container{
    width : 90%;
  }
  .accordion{
    width:100%;
  }
}

@media only screen and (max-width: 1024px) {
  .landing-section{
    background-position: right;
  }
  .landing-section .heading-large{
    width: 80%;
    font-size: 9rem;
  }
  .landing-section .heading-small{
    font-size: 2rem;
    width:80%;
  }
  .landing-section .button-container{
    width: 80%;
  }
  .landing-section .primary-button,
  .landing-section .secondary-button{
    font-size: 2rem;
    color: var(--White);
  }

  .section-2{
    padding-top: 1rem;
  }
  .section-2 .container{
    padding: 1rem 1rem;
    justify-content: center;
    gap:5rem;
  }
  .section-2 .cards-container{
    height : 50%;
  }

  .flexible-section .right-panel img{
    height : 45rem;
    width:45rem;
  }
  .trade-section .left-panel img{
    height : 35rem;
    width : 50rem;
  }
  .trade-section .right-panel h1{
    font-size: 3rem;
  }
  .trade-section .right-panel p{
    font-size: 1.6rem;
  }
  .trade-section .points-container span{
    gap : 1rem;
  }
  .trade-section .points-container .img-container{
    height:5rem;
    width:5rem;
    border-radius: 1rem;
  }

  .testimonials-section .container{
    height: 100%;
    padding: 2rem 0;
    gap: 2rem;
  }
  
  .content-section-v1 .container{
    height: 100%;
    padding: 2rem 0;
    justify-content: space-between;
  }
  .content-section-v1 .left-panel{
    padding: 0;
    gap:2rem;
  }
  .content-section-v1 h1{
    font-size: 4rem;
    font-weight: 300;
  }
  .content-section-v1 .right-panel{
    height: 38rem;
    width : 38rem;
  }

  .footer .container-top{
    padding : 5rem 5rem;
  }
  .footer .left-panel{
    width : 50%;
  }
}

/*tablets*/
@media only screen and (max-width: 992px) {
  .header {
    height: 8rem;
    padding: 2rem 3rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    flex-direction: column;
    background-color: var(--Main-Primary);
    color: var(--White);

    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0 10px 27px rgba(245, 237, 237, 0.05);
  }
  .navbar .nav-button {
    display: none;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .section-2{
    padding-top: 0rem;
  }
  .section-2 .container{
    padding:2rem 4rem;
  }
  .section-2 .header-large{
    font-size: 3rem;
    width:70%;
  }
  .secondary-2 .header-small{
    width:90%;
  }
}

@media only screen and (max-width: 768px) {
  .landing-section {
    height: calc(100vh-8rem);
    background: linear-gradient(
        270deg,
        rgba(238, 238, 238, 0) 14.47%,
        #eee 91.58%
      ),
      url("../assets/backgroundLarge.jfif"),
      lightgray -686.557px 1.526px / 203.093% 100% no-repeat;
    background-size: cover;
    background-position: right center;
  }

  .landing-section .container {
    width: 90%;
    gap: 4rem;
  }

  .landing-section .heading-large,
  .landing-section .heading-small,
  .landing-section .button-container {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {

}

/*mobiles*/
@media only screen and (max-width: 576px) {
  .landing-section {
    height: calc(100vh-8rem);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url("../assets/backgroundLarge.jfif"),
      lightgray -904.39px 0px / 346.82% 100% no-repeat;
    background-size: cover;
    background-position: right center;
  }

  .landing-section .container {
    width: 98%;
    gap: 2rem;
    align-items: center;
  }

  .landing-section .heading-large {
    font-size: 4rem;
    color: var(--White);
  }

  .landing-section .heading-small {
    font-size: 1.4rem;
    color: var(--White);
  }

  .landing-section .button-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .landing-section .primary-button {
    width: 100%;
  }

  .landing-section .secondary-button {
    width: 100%;
    background-color: var(--White);
    color: var(--Secondary);
  }

  .header {
    height: 8rem;
    padding: 2rem 1rem;
  }
}


@media only screen and (max-width: 425px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {

}